@media (min-width: 992px) {
  .navbar {
    &-menu {
      &__link:hover {
        border-bottom: 4px solid #4592ff;
      }
    }
    &-button:hover {
      background: #4592ff;
      color: #fff;
    }
  }
  .hero {
    &-image {
      &__button:hover {
        background: #20477d;
      }
    }
    &-tabs {
      &__item:hover {
        background: #f5f5f5;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .navbar {
    &-menu {
      max-width: 500px;
    }

    &-button {
      padding: 12px 30px 12px 30px;
    }
  }
  .suggestion {
    &__item {
      padding: 0;
      justify-content: center;
    }
    &-photo {
      width: 55px;
      height: 55px;
    }
    &__text {
      font-size: 13px;
      max-width: 147px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navbar {
    &-menu {
      display: none;
      &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 16px;
        height: 13px;
        border: none;
        background-color: $background;
        cursor: pointer;
      }
      &__line {
        width: 16px;
        height: 1px;
        background-color: #fff;
      }
    }
    &-button {
      display: none;
    }
  }
  .hero {
    &-title {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .suggestion {
    &-wrapper {
      padding: 20px 0;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      flex-basis: 50%;
      padding: 15px 15px;
    }
    &__item:nth-child(1) {
      border-bottom: 1px solid #4b5157;
    }
    &__item:nth-child(2) {
      border-bottom: 1px solid #4b5157;
    }

    &-photo {
      width: 65px;
      height: 65px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 550px;
  }
  .hero {
    &-wrapper {
      flex-direction: column;
    }
    &-image {
      padding-bottom: 80px;
    }
    &-user {
      margin-bottom: 30px;
    }
    &-tabs {
      max-width: 100%;
      &__item {
        min-height: 80px;
        padding-left: 55px;
        &--title {
          padding-left: 55px;
        }
        // &--cs {
        //   padding-bottom: 0;
        // }
      }

      &__info {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .hero {
    &-title {
      font-size: 25px;
    }
    &-image {
      padding: 30px 60px 50px 25px;
    }
    &-tabs {
      &__item {
        min-height: 90px;
        padding-left: 25px;
        &--title {
          padding-left: 25px;
        }
      }
    }
  }
  .suggestion {
    &-wrapper {
      padding: 10px 0;
      flex-wrap: nowrap;
      flex-direction: column;
    }
    &__item {
      justify-content: space-between;
      padding-left: 25px;
      padding-right: 25px;
    }
    &__item:nth-child(3) {
      border-bottom: 1px solid #4b5157;
    }
  }
}
@media (max-width: 355px) {
  .hero {
    &-image {
      padding-right: 20px;
    }
  }
}
